@model NBAMvcWeb.Models.Player.Edit
@{
    ViewData["Title"] = "Player - Create";
}

<h1>Edit NBA Player</h1>

<form asp-action="Edit">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger">*</span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger">*</span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger">*</span>
    </div>
    <div class="form-group">
        <label asp-for="Height"></label>
        <input asp-for="Height" class="form-control" />
        <span asp-validation-for="Height" class="text-danger">*</span>
    </div>
    <div class="form-group">
        <label asp-for="Weight"></label>
        <input asp-for="Weight" class="form-control" />
        <span asp-validation-for="Weight" class="text-danger">*</span>
    </div>

    <div class="form-group">
        <label asp-for="TeamId"></label>
        <select asp-for="TeamId" asp-items="Model.Teams" class="form-control">
            <option value="">Please select a team</option>
        </select>
        <span asp-validation-for="TeamId" class="text-danger">*</span>
    </div>

    <input type="submit" value="Save" class="btn btn-success" style="color:#fff; width: 100%" />
    <input type="hidden" asp-for="Id" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


